@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Syne+Mono&family=VT323&display=swap");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com");

html {
  cursor: url("./assets/images/pointer.png"), auto;
}

.modalContainer {
  background-color: #245dda;
  width: 70vw;
  height: 70vh;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  color: white;
  font-size: 1.5rem;
  
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

.folderBody {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  top: 5%;
  height: 90%;
  width: 99%;
  margin-bottom: 0px;
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
