@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Syne+Mono&family=VT323&display=swap');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com');

body {
    background-image: url('./assets/images/bliss.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    box-sizing: border-box;
    cursor: url('./assets/images/pointer.png'), auto;
    font-family: "VT323", monospace;
    font-style: normal;
    color: white;
}

.container {
    flex-direction: row;
}

.folderContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    position: relative;
    top: 70px;
    left: 20px;
    margin: 5px;
}

.folderContainer:hover{
    cursor: pointer;
}

.icon {
    width: 60px;
    height: 60px;
}

.folderName {
    margin-top: 2px;
    font-size: 1.25rem;
}

.taskbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #245DDA;
    --taskbar-height: 8vh;
    width: 100vw;
    height: var(--taskbar-height);
    margin: 0px;
    border: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 1.5rem;
}

.start {
    background: #78ae43;
    border-radius: 30px;
    width: 6%;
    height: 70%;  
    margin-top: calc(var(--taskbar-height) * 0.15);
    margin-left: 0.5%;
    align-content: center;
}

.clock {
    background: #64a2d8;
    width: 8%;
    height: 70%;
    margin-top: calc(var(--taskbar-height) * 0.15);
    margin-right: 0.5%;
    border-radius: 30px;
    align-content: center;
}